<div class="main">
    <div style="display:flex;justify-content:space-between;flex-direction:column">   
        <div style="z-index:-5;display:flex; justify-content:center" class="images1">
            <img src="assets/dancer.jpg" style="height:40vw;">
 
            <img src="assets/black.png" style="height: 40vw;">
            <div class="text1">
                <p>Preparamos la música para vuestra ceremonia y fiesta.</p>
                <p>El repertorio puede ser seleccionado por gusto personal y composiciones/arreglos a medida</p>
                <p>Nos responsabilizamos de todo el equipo necesario para una calidad de sonido optima con el espacio</p>
            </div> 
            <img src="assets/dancer1.jpg" style="height:40vw;">
        </div>   

</div>      
<video class="fullscreen-video" autoplay muted style="margin-top:250px;position:relative;align-self:center;opacity:0.8;width:81vw;">
    <source src="assets/gipsy.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="tarifa">
    <p>Tarifa a partir de 100€ evento.</p>
  </div>
  <div class="tarifa1">
    <a>+ Info</a>
  </div>
  <app-footer style="position: absolute;    bottom: 0;    width: 100vw;    left: 0;"></app-footer>

</div>




