<!DOCTYPE html>
<div>
    <table>
        <caption>Libros</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Idioma</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros">
              <td>{{libro.id}}</td>  
              <td>{{libro.titulo}}</td>
              <td>{{libro.autor}}</td>
              <td>{{libro.idioma}}</td>
            </tr>
        </tbody>
    </table>
</div>
<button routerLink="/add">Ir a añadir</button>
